@page "/materials/management"

<h3>Material Manager</h3>
@if (_loading)
{
    <Loader Center="true" />
}

<!--Sticky bar with search fields-->
<div class="d-flex flex-row cssticky-bar" style="background-color: white; z-index: 500">
    <div class="flex-fill">
        <div class="d-flex flex-row mr-2">
            <div class="flex-fill cslabelheader">Name</div>
            <input class="w-75 form-control cslabelcontent" type="text" placeholder="Search by name..."
                   @bind="_filterMaterial"
                   @bind:event="oninput" />
        </div>
    </div>
    <div>
        <button class="btn btn-outline-primary" @onclick="@(()=> LaunchEdition(null))">New Material</button>
    </div>
    <div>
        <button class="btn btn-outline-primary" @onclick="@(()=> nm.NavigateTo("properties/management"))">Manage properties</button>
    </div>
</div>

@if (_state != Tools.StateEdition.None)
{
    <MaterialEditor Material="_editingMaterial" MaterialChange="FinishEdition" />
}
else
{
    <!--Responsive table showing assessments, including interactive table header for sorting-->
    <div class="table-responsive-md">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">
                        Name
                    </th>
                    <th scope="col">
                        Description
                    </th>
                    <th scope="col">
                        Deprecated
                    </th>
                    <th scope="col" style="width: 12%">Actions</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (_materials != null)
                {
                    @foreach (var mat in _materials.OrderBy(m => m.Deprecated))
                    {
                        <tr>
                            <td>@mat.Name</td>
                            <td>@mat.Description</td>
                            <td>@(mat.Deprecated? "Yes":"No")</td>
                            <td>
                                <!--Detail buttons-->
                    <button class="btn btn-outline-secondary" @onclick="@(() => _ViewingMaterial = _ViewingMaterial==mat.Id? Guid.Empty:mat.Id)">
                                    <span class="oi oi-magnifying-glass"></span>
                                </button>
                                <button class="btn btn-outline-primary" @onclick="@(() => LaunchEdition(mat))">
                                    <span class="oi oi-pencil"></span>
                                </button>
                                <button class="btn btn-outline-danger" @onclick="@(() => DeleteMaterial(mat))">
                                    <span class="oi oi-trash"></span>
                                </button>
                            </td>
                            @if (mat.Evaluations.Any(e => (e.Property.Visible && e.ValueBin == null && e.ValueDec == null)) || (mat.Filaments is null | !mat.Filaments.Any()))
                            {
                                <td type="button" data-toggle="tooltip" data-placement="bottom" title="@($"There are some errors on this material, see details for more information")">
                                    <span class="oi oi-warning" style="color: red"></span>
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }
                        </tr>
                        @if (_ViewingMaterial == mat.Id)
                        {
                            <tr style=" background-color: white">
                                <td colspan="3">
                                    <div class="col-md-8 table-responsive-md" style="margin: 0 auto;">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Property</th>
                                                    <th scope="col">Value</th>
                                                    <th scope="col">unit</th>
                                                    <th scope="col">Visible</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var eval in mat.Evaluations.OrderBy(e => e.ValueBinStr).ThenBy(e => e.Property.Name))
                                                {
                                                    <tr>
                                                        <td>@eval.Property.Name</td>
                                                        <td>@eval.ValueStr</td>
                                                        <td>@eval.Property.Unit</td>

                                                        @if (!eval.Property.Visible)
                                                        {
                                                            <td>
                                                                <span class="oi oi-x"></span>
                                                            </td>
                                                        }
                                                        else if (eval.Property.Visible && eval.ValueBin == null && eval.ValueDec == null)
                                                        {
                                                            <td>
                                                                <div class="btn col-sm-1" type="button" data-toggle="tooltip" data-placement="bottom" title="@($"Property is visible, but no data is avaliable for {@mat.Name}")">
                                                                    <span class="oi oi-warning" style="color: red"></span>
                                                                </div>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                <span class="oi oi-check" style="color: green"></span>
                                                            </td>

                                                        }

                                                    </tr>
                                                }
                                                <tr>
                                                    <td colspan="1">Asociated filament(s)</td>
                                                    @if (mat.Filaments is null | !mat.Filaments.Any())
                                                    {
                                                        <td colspan="3">
                                                            <div class="btn col-sm-1" type="button" data-toggle="tooltip" data-placement="bottom" title="@($"No filament is asociated to this material, so users cannot use it to print")">
                                                                <span class="oi oi-warning" style="color: red"></span>
                                                            </div>
                                                        </td>

                                                    }
                                                    else
                                                    {
                                                        <td colspan="3">@PrintListFilaments(mat)</td>
                                                    }
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                </td>
                            </tr>
                        }
                    }
                }
                else
                {
                    <tr>
                        <span class="esyerror">ERROR ACCEDIENDO A LA LISTA DE VALORACIONES</span>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}